In [1]:
#import external pandas_datareader library with alias of web
#import pandas_datareader as web
 
#import datetime internal datetime module
#datetime is a Python module
#import datetime
 
#datetime.datetime is a data type within the datetime module
#start = datetime.datetime(2010, 1, 1)
#end = datetime.datetime(2017, 12, 31)
 
#DataReader method name is case sensitive
#df = web.DataReader("nvda", 'yahoo', start, end)
 
#invoke to_csv for df dataframe object from 
#DataReader method in the pandas_datareader library
 
#..\first_yahoo_prices_to_csv_demo.csv must not
#be open in another app, such as Excel
#df.to_csv('stockprice.csv')

In [2]:
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
os.chdir('C:\\Users\\SALESKEN\\Desktop\\Deep Learning\\Files')#changing directory

In [3]:
df=pd.read_csv('stockprice.csv')

In [4]:
df.shape#checking dimension

(2014, 7)

In [5]:
df.head()#checking head

         Date    High     Low    Open   Close      Volume  Adj Close
0  2009-12-31  4.7375  4.6650  4.6775  4.6700  70034000.0   4.289910
1  2010-01-04  4.6550  4.5275  4.6275  4.6225  80020400.0   4.246276
2  2010-01-05  4.7400  4.6050  4.6050  4.6900  72864800.0   4.308282
3  2010-01-06  4.7300  4.6425  4.6875  4.7200  64916800.0   4.335843
4  2010-01-07  4.7150  4.5925  4.6950  4.6275  54779200.0   4.250871

In [6]:
df.info()#information about datset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2014 non-null   object
 1   High       2014 non-null   float64
 2   Low        2014 non-null   float64
 3   Open       2014 non-null   float64
 4   Close      2014 non-null   float64
 5   Volume     2014 non-null   float64
 6   Adj Close  2014 non-null   float64
dtypes: float64(6), object(1)
memory usage: 110.3+ KB

In [7]:
df=df.drop(['Date'],axis=1)

In [8]:
df.describe(include='all')#stats about dataset

,High,Low,Open,Close,Volume,Adj Close
count,2014.000000,2014.000000,2014.000000,2014.000000,2.014000e+03,2014.000000
mean,9.614420,9.343744,9.486588,9.488491,5.271588e+07,9.222549
std,11.826803,11.501104,11.686299,11.679549,3.676770e+07,11.628847
min,2.262500,2.162500,2.180000,2.220000,4.564400e+06,2.039316
25%,3.645000,3.538125,3.587500,3.588750,2.939010e+07,3.316758
50%,4.638750,4.521250,4.572500,4.568750,4.290380e+07,4.302541
75%,7.841250,7.591875,7.716875,7.750625,6.507920e+07,7.576959
max,54.667500,53.650002,54.327499,54.240002,3.692928e+08,53.742962

In [9]:
df.isnull().sum()#checking for missing files

High         0
Low          0
Open         0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [10]:
#corr_matrix = df.corr() 

#filter correlation values above 0.5
#filter_corr = corr_matrix[corr_matrix > 0.5]

#plot correlation matrix
#plt.figure(figsize=(20,12))
#sns.heatmap(filter_corr,cmap='coolwarm',annot=True);

In [11]:
df.corr()#checking correlation

               High       Low      Open     Close    Volume  Adj Close
High       1.000000  0.999764  0.999872  0.999831  0.134509   0.999810
Low        0.999764  1.000000  0.999779  0.999872  0.123494   0.999863
Open       0.999872  0.999779  1.000000  0.999649  0.129810   0.999634
Close      0.999831  0.999872  0.999649  1.000000  0.128891   0.999984
Volume     0.134509  0.123494  0.129810  0.128891  1.000000   0.126171
Adj Close  0.999810  0.999863  0.999634  0.999984  0.126171   1.000000

In [12]:
predictor=df.iloc[:,[0,1,2,4,5]]#Independent variable

In [13]:
target=df.iloc[:,3]#Dependent variable

In [14]:
from sklearn.preprocessing import StandardScaler  
import numpy as np

In [15]:
sc= StandardScaler()

In [16]:
predictor=sc.fit_transform(predictor)#scaling Input variable

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(predictor,target,test_size=0.2,random_state=42)

In [19]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1611, 5)
(403, 5)
(1611,)
(403,)

In [20]:
from sklearn.neural_network import MLPRegressor #sklearn neural network

In [21]:
ml=MLPRegressor()

In [22]:
ml.fit(x_train,y_train)

MLPRegressor()

In [23]:
ml

MLPRegressor()

In [24]:
Y_pred=ml.predict(x_test)

In [25]:
ml.score(x_train,y_train)  #R^2 value

0.9996883845702761

In [26]:
from sklearn.metrics import mean_squared_error
import math

In [27]:
print(math.sqrt(mean_squared_error(y_test,Y_pred))) #mean squared value

0.18215529160816643

In [28]:
ab=MLPRegressor(hidden_layer_sizes=(10,5,3),solver='lbfgs',alpha=0.001)#parameter tuning for sklearn

In [29]:
ab.fit(x_train,y_train)

MLPRegressor(alpha=0.001, hidden_layer_sizes=(10, 5, 3), solver='lbfgs')

In [30]:
y_preds=ab.predict(x_test)

In [31]:
ab.score(x_train,y_train)#R^2 value

0.9999845391194705

In [32]:
print(math.sqrt(mean_squared_error(y_test,y_preds)))#mean squared value

0.0425377177709878